<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="header-left">
                    <h1 class="logo"><a href="/">LOOGOOO</a></h1>
                    <ul class="gnb">
                        <li><a href="/">MUSIC 듣다</a></li>
                        <li><a href="/">STAGE-CINE 즐기다</a></li>
                        <li><a href="/">ART 보다</a></li>
                        <li><a href="/">BOOK 읽다</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul class="icon">
                        <li>
                            <a href="/"><img src="/images/search.png" /></a>
                        </li>
                        <li>
                            <a href="/"><img src="/images/user.png" /></a>
                        </li>
                        <li>
                            <a href="/"><img src="/images/list.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="container">
                <div class="slider">
                    <div class="slide">
                        <!-- <div class="text">
                            <h2>라흐마니노프 연주곡</h2>
                            <p>dfdfdfdfddfdfd</p>
                        </div> -->
                        <img src="/images/slide1.jpg" alt="" />
                    </div>
                    <div class="slide">
                        <!-- <div class="text">
                            <h2>피아노</h2>
                            <h2>피아노</h2>
                            <h2>피아노</h2>
                        </div> -->
                        <img src="/images/slide2.jpg" alt="" />
                    </div>
                    <div class="slide">
                        <!-- <div class="text">
                            <h2>전시회?????</h2>
                            <h2>전시회?????</h2>
                        </div> -->
                        <img src="/images/slide3.jpg" alt="" />
                    </div>
                    <div class="controller">
                        <div class="ellipse active"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                    </div>
                </div>

                <div class="content">
                    <h2>리뷰의 발견</h2>
                    <div class="box-wrap">
                        <div class="box">
                            <div class="box-img">이미지 추가</div>
                            <div class="box-text">이미지 설명 텍스트</div>
                        </div>
                        <div class="box">
                            <div class="box-img">이미지 추가</div>
                            <div class="box-text">이미지 설명 텍스트</div>
                        </div>
                        <div class="box">
                            <div class="box-img">이미지 추가</div>
                            <div class="box-text">이미지 설명 텍스트</div>
                        </div>
                    </div>
                </div>
                <div class="view-wrap">
                    <div class="view-title">
                        <h2>'러시아 낭만주의의 꽃' 라흐마니노프 교향곡 2번</h2>
                    </div>
                    <div class="view-img">
                        <img src="/images/slide1.jpg" alt="" />
                    </div>
                    <div class="view-text">
                        <p>
                            러시아를 대표하는 작곡가 세르게이
                            라흐마니노프(1873~1943) 탄생 150주년을 기념해 특별한
                            연주회가 열린다. 오는 22일 서울 롯데콘서트홀에서
                            열리는 경기필하모닉오케스트라의 '경기필 마스터피스
                            시리즈' 9번째 공연이다.
                        </p>

                        <p>
                            이날 공연에서는 지휘자 이병욱(인천시립교향악단
                            음악감독)이 경기필하모닉을 이끈다. 이병욱은 국내외
                            교향악단을 비롯해 오페라와 현대음악에 강점이 있는
                            지휘자로 정평 나 있다.
                        </p>

                        <p>
                            교향곡 2번은 라흐마니노프에게 소중한 작품이다. 그는
                            교향곡 1번을 작곡했지만, 처참한 반응을 얻어 우울증에
                            걸렸고 교향곡을 작곡하지 못했다. 그러던 중 어려움을
                            극복하고 10년 만에 이 작품을 썼다. 아 곡에는 행복과
                            불행, 사랑과 아픔, 절망과 희망 등 그의 삶이 투영돼
                            있다. 특히 3악장은 감미로운 선율과 절묘한 흐름으로
                            많은 사랑을 받는 명곡으로 꼽힌다. 라흐마니노프는 이
                            작품으로 피아노 협주곡 제2번에 이어 두 번째 `글린카
                            상`을 수상하기도 했다.
                        </p>

                        <p>
                            이날 협연자는 한국을 대표하는 피아니스트 박종해.
                            그는 경기필하모닉과 프로코피예프 피아노 협주곡 2번을
                            들려준다. 박종해는 2010년 퀸 엘리자베스 국제 피아노
                            콩쿠르 입상 및 최연소 연주자 특별상, 2011년 이탈리아
                            에판시에서 수여하는 아르투로 베네데티 미켈란젤리상,
                            2018년 게자 안다 국제 피아노 콩쿠르 2위를 수상했다.
                        </p>

                        <p>
                            프로코피예프 피아노 협주곡 2번은 피아노 협주곡 중
                            가장 난해하다는 평가를 받는 작품이다. 우울하면서도
                            낭만적인 분위기 속에서 러시아 피아노 작품 특유의 큰
                            스케일과 고난이도 기교가 두드러진다.
                        </p>

                        <p>
                            지휘자 이병욱은 “차이코프스키 교향곡의 뒤를 잇는
                            러시아 후기 낭만주의 교향곡의 진수를 느끼실 수 있을
                            것"이라고 전했다.
                        </p>
                    </div>
                    <div class="comment-wrap">
                        <form action="/" method="post">
                            <div class="comment">
                                <textarea
                                    name="comment"
                                    placeholder="댓글을 작성해주세요"
                                ></textarea>
                                <button class="commentbtn" type="submit">
                                    등록
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="comment-title">댓글보기</div>
                    <div class="comment-list">
                        <ul>
                            <li class="comment-item">
                                <div class="comment-name">
                                    댓글 작성한 사람1
                                </div>
                                <div class="comment-text">
                                    댓글 내용들 주절주절 댓글 내용들 주절주절
                                    댓글 내용들 주절주절
                                </div>
                                <div class="comment-util">
                                    <div class="comment-info">
                                        <span class="comment-date"
                                            >2023-10-12</span
                                        >
                                    </div>
                                </div>
                                <div class="comment-input"></div>
                            </li>
                            <li class="comment-item">
                                <div class="comment-name">
                                    댓글 작성한 사람1
                                </div>
                                <div class="comment-text">
                                    댓글 내용들 주절주절 댓글 내용들 주절주절
                                    댓글 내용들 주절주절
                                </div>
                                <div class="comment-util">
                                    <div class="comment-info">
                                        <span class="comment-date"
                                            >2023-10-12</span
                                        >
                                    </div>
                                </div>
                                <div class="comment-input"></div>
                            </li>
                            <li class="comment-item">
                                <div class="comment-name">
                                    댓글 작성한 사람1
                                </div>
                                <div class="comment-text">
                                    댓글 내용들 주절주절 댓글 내용들 주절주절
                                    댓글 내용들 주절주절
                                </div>
                                <div class="comment-util">
                                    <div class="comment-info">
                                        <span class="comment-date"
                                            >2023-10-12</span
                                        >
                                    </div>
                                </div>
                                <div class="comment-input"></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="footer">
                    <div class="info">
                        COPYRIGHT 2023 BY arte ALL RIGHTS RESERVED
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
