<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./public/index.css" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="header-left">
                    <h1 class="logo"><a href="/">LOOGOOO</a></h1>
                    <ul class="gnb">
                        <li><a href="/">MUSIC 듣다</a></li>
                        <li><a href="/">STAGE-CINE 즐기다</a></li>
                        <li><a href="/">ART 보다</a></li>
                        <li><a href="/">BOOK 읽다</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul class="icon">
                        <li>
                            <a href="/"
                                ><img src="./public/images/search.png"
                            /></a>
                        </li>
                        <li>
                            <a href="/"
                                ><img src="./public/images/user.png"
                            /></a>
                        </li>
                        <li>
                            <a href="/"
                                ><img src="./public/images/list.png"
                            /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="container"></div>
            <div id="footer"></div>
        </div>
        <script type="text/javascript" src="./public/index.js"></script>
    </body>
</html>
